@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .clip_path{
        clip-path: polygon(100% 0, 100% 92%, 53% 100%, 0 91%, 0 0);
    }
    .heading{
        @apply text-[30px] md:text-[35px] lg:text-[35px] xl:text-[50px] text-white font-bold uppercase md:leading-[4rem] leading-[3rem] text-center
    }
    
    .logincard{
        background: rgba(255,255,255,0.09);
        
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        border: 2px solid rgba(255, 255, 255, 0.61);
        z-index: 999;
    }
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
input[type="time"]::-webkit-calendar-picker-indicator::after {
    filter: invert(1);
}